In [1]:
## imports
import pandas as pd
import numpy as np
import re
import requests
import yaml


## repeated printouts
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 1. Example 1: no credentials; no wrapper

Site: National Assessment of Education Progress (NAEP)

Documentation: https://www.nationsreportcard.gov/api_documentation.aspx

Base link: https://www.nationsreportcard.gov/DataService/GetAdhocData.aspx

## 1.1 Query to pull some data

In [2]:
## using their example query of 2011 writing scores separated by gender
## based on here - https://stackoverflow.com/questions/40836749/pythonic-way-of-writing-a-single-line-long-string
## using the ( ) syntax to formulate a long
## string without linebreaks added
example_naep_query = (
'https://www.nationsreportcard.gov/'
'Dataservice/GetAdhocData.aspx?'
'type=data&subject=writing&grade=8&'
'subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2011')


example_naep_query

'https://www.nationsreportcard.gov/Dataservice/GetAdhocData.aspx?type=data&subject=writing&grade=8&subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2011'

In [3]:
## use requests to call the api
naep_resp = requests.get(example_naep_query)
naep_resp
print(type(naep_resp))

## get the json contents of the response 
## here, we're assuming valid response
naep_resp_j = naep_resp.json()
naep_resp_j

## with result, turn it into a dataframe
naep_resp_d = pd.DataFrame(naep_resp_j['result'])
naep_resp_d

<class 'requests.models.Response'>

{'status': 200,
 'result': [{'year': 2011,
   'sample': 'R3',
   'yearSampleLabel': '2011',
   'Cohort': 2,
   'CohortLabel': 'Grade 8',
   'stattype': 'MN:MN',
   'subject': 'WRI',
   'grade': 8,
   'scale': 'WRIRP',
   'jurisdiction': 'NP',
   'jurisLabel': 'National public',
   'variable': 'GENDER',
   'variableLabel': 'Gender',
   'varValue': '1',
   'varValueLabel': 'Male',
   'value': 139.099504632971,
   'isStatDisplayable': 1,
   'errorFlag': 0},
  {'year': 2011,
   'sample': 'R3',
   'yearSampleLabel': '2011',
   'Cohort': 2,
   'CohortLabel': 'Grade 8',
   'stattype': 'MN:MN',
   'subject': 'WRI',
   'grade': 8,
   'scale': 'WRIRP',
   'jurisdiction': 'NP',
   'jurisLabel': 'National public',
   'variable': 'GENDER',
   'variableLabel': 'Gender',
   'varValue': '2',
   'varValueLabel': 'Female',
   'value': 158.567104984955,
   'isStatDisplayable': 1,
   'errorFlag': 0}]}

,year,sample,yearSampleLabel,Cohort,CohortLabel,stattype,subject,grade,scale,jurisdiction,jurisLabel,variable,variableLabel,varValue,varValueLabel,value,isStatDisplayable,errorFlag
0,2011,R3,2011,2,Grade 8,MN:MN,WRI,8,WRIRP,NP,National public,GENDER,Gender,1,Male,139.099505,1,0
1,2011,R3,2011,2,Grade 8,MN:MN,WRI,8,WRIRP,NP,National public,GENDER,Gender,2,Female,158.567105,1,0

## 1.2 What happens if there's an error in our query?

In [4]:
## here's a query that from the documentation we know
## won't work since i modified year to 2025 which doesnt
## exist in the data
wrong_naep_query = (
'https://www.nationsreportcard.gov/'
'Dataservice/GetAdhocData.aspx?'
'type=data&subject=writing&grade=8&'
'subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2025')

wrong_naep_query

'https://www.nationsreportcard.gov/Dataservice/GetAdhocData.aspx?type=data&subject=writing&grade=8&subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2025'

In [5]:
## use requests to call the api
naep_wrong_resp = requests.get(wrong_naep_query)
naep_wrong_resp

In [7]:
## in the case of this particular api,
## the call returns some response but
## when we try to extract the json containing
## status or results, we get in an error
#naep_wrong_resp.json() # uncomment to see error

### 1.2.2 More all-purpose way of allowing remainder of calls to run: try, except

In [8]:
## putting it in a try; except as general error catching
try:
    results = naep_wrong_resp.json()['result']
except Exception as e:
    print('Failed to get result from API due to error:')
    print(e) # or just: pass

Failed to get result from API due to error:
Invalid control character at: line 1 column 289 (char 288)

### 1.2.3 Can usually also find more targeted way but that varies more across APIs

In [9]:
## if we wanted do more specific error catching,
## see that the status == 400 actually appears here
## so could write if else along those lines
naep_wrong_resp.text
naep_resp.text

if "System.Exception" in naep_wrong_resp.text:
    print("NAEP results not found")

'{"status":400,"result": "System.Exception: The query \'SELECT DISTINCT Framework FROM Cycles WHERE Subject=\'WRI\' AND Cohort=2 AND CONVERT(VARCHAR(10),Year)+Sample IN (\'2025R3\')\' did not return exactly 1 framework. Make sure you can trend the years defined for the given subject and cohort.\r\n   at NRCDataService3.GetAdhocData.GetFramework(NDEContext& ndeContext, String subjectCode, List`1 yearSamples, String cohort) in C:\\projects\\ndecore2015\\NRCDataService2\\GetAdhocData.aspx.cs:line 2091\r\n   at NRCDataService3.GetAdhocData.PopulateBaseOrchestratorRequest() in C:\\projects\\ndecore2015\\NRCDataService2\\GetAdhocData.aspx.cs:line 1781\r\n   at NRCDataService3.GetAdhocData.ConstructRequest_Datapoint() in C:\\projects\\ndecore2015\\NRCDataService2\\GetAdhocData.aspx.cs:line 628\r\n   at NRCDataService3.GetAdhocData.Page_Load(Object sender, EventArgs e) in C:\\projects\\ndecore2015\\NRCDataService2\\GetAdhocData.aspx.cs:line 179"}'

'{"status":200,"result": [{"year":2011,"sample":"R3","yearSampleLabel":"2011","Cohort":2,"CohortLabel":"Grade 8","stattype":"MN:MN","subject":"WRI","grade":8,"scale":"WRIRP","jurisdiction":"NP","jurisLabel":"National public","variable":"GENDER","variableLabel":"Gender","varValue":"1","varValueLabel":"Male","value":139.099504632971,"isStatDisplayable":1,"errorFlag":0},{"year":2011,"sample":"R3","yearSampleLabel":"2011","Cohort":2,"CohortLabel":"Grade 8","stattype":"MN:MN","subject":"WRI","grade":8,"scale":"WRIRP","jurisdiction":"NP","jurisLabel":"National public","variable":"GENDER","variableLabel":"Gender","varValue":"2","varValueLabel":"Female","value":158.567104984955,"isStatDisplayable":1,"errorFlag":0}]}'

NAEP results not found

## Activity 1: writing a function to make multiple, sequential calls

- Say we want to pull the data for grades 4, 8, and 12
- How can we write a function that iterates over a list of those grades and pulls the data for each grade?

**Note**: an ideal function would have arguments for each parameter in the API like subject, subscale, etc. Here we can leave those other parts constant

In [20]:
# your code here
def API_call(grade):
    q = ('https://www.nationsreportcard.gov/Dataservice/GetAdhocData.aspx?type=data&subject=writing&grade=' + str(grade) + '&subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2011')
    print(q)
    res = requests.get(q)
    ## get the json contents of the response 
    ## here, we're assuming valid response
    res_j = res.json()
    ## with result, turn it into a dataframe
    res_d = pd.DataFrame(res_j['result'])
    return res_d

grade_list = [8, 12]
for grade in grade_list:
    API_call(grade)

https://www.nationsreportcard.gov/Dataservice/GetAdhocData.aspx?type=data&subject=writing&grade=8&subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2011

,year,sample,yearSampleLabel,Cohort,CohortLabel,stattype,subject,grade,scale,jurisdiction,jurisLabel,variable,variableLabel,varValue,varValueLabel,value,isStatDisplayable,errorFlag
0,2011,R3,2011,2,Grade 8,MN:MN,WRI,8,WRIRP,NP,National public,GENDER,Gender,1,Male,139.099505,1,0
1,2011,R3,2011,2,Grade 8,MN:MN,WRI,8,WRIRP,NP,National public,GENDER,Gender,2,Female,158.567105,1,0

https://www.nationsreportcard.gov/Dataservice/GetAdhocData.aspx?type=data&subject=writing&grade=12&subscale=WRIRP&variable=GENDER&jurisdiction=NP&stattype=MN:MN&Year=2011

,year,sample,yearSampleLabel,Cohort,CohortLabel,stattype,subject,grade,scale,jurisdiction,jurisLabel,variable,variableLabel,varValue,varValueLabel,value,isStatDisplayable,errorFlag
0,2011,R3,2011,3,Grade 12,MN:MN,WRI,12,WRIRP,NP,National public,GENDER,Gender,1,Male,141.256978,1,0
1,2011,R3,2011,3,Grade 12,MN:MN,WRI,12,WRIRP,NP,National public,GENDER,Gender,2,Female,155.385917,1,0

# 2. Example 2: needs credentials; no wrapper

Create an account here: https://www.yelp.com/developers/v3/manage_app

In [22]:
## get the key
API_KEY = "1Gh9eKod5_-vX1otu_KEzcFphmJC58Kwb2qsJbcKPn76WUI7eW6biYfFe6R6Pmx_7NRaaQraF-Co_eLwcjvLl-DGQ4A0wHE8Z6WlFm9Bum6lEFvh9wiLufavouMtZXYx"

In [23]:
## use documentation to define what to search
## doc: https://www.yelp.com/developers/documentation/v3/business_search
## write the query 
base_url = "https://api.yelp.com/v3/businesses/search?"
my_name = "restaurants"
my_location = "Hanover,NH,03755"
yelp_genquery = ('{base_url}'
                'term={name}'
                '&location={loc}').format(base_url = base_url,
                name = my_name,
                loc = my_location)

## use requests to call the API; here, we're
## passing it our credentials (structure varies
## by API and telling it to only return 10 results
## (max is 50 at once)
header = {'Authorization': f"Bearer {API_KEY}"}
yelp_genresp = requests.get(yelp_genquery, headers = header)
yelp_genresp

## then, look at structure of response
yelp_genjson = yelp_genresp.json()

In [24]:
## example business
yelp_genjson['businesses'][0]

## more automatic way of summarizing but things end up in lists
## within columns for things like categories
yelp_gendf = pd.DataFrame(yelp_genjson['businesses'])
yelp_gendf.head()

{'id': 'XVGEEIH5rVB2QzW-qywcJw',
 'alias': 'base-camp-cafe-hanover',
 'name': 'Base Camp Cafe',
 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/p8_YiEQI7p_JF82eaWa9Xg/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/base-camp-cafe-hanover?adjust_creative=AYAiHNSGxz_RRHzq3cO46w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=AYAiHNSGxz_RRHzq3cO46w',
 'review_count': 238,
 'categories': [{'alias': 'himalayan', 'title': 'Himalayan/Nepalese'}],
 'rating': 4.5,
 'coordinates': {'latitude': 43.700626, 'longitude': -72.2887803},
 'transactions': ['delivery'],
 'price': '$$',
 'location': {'address1': '3 Lebanon St',
  'address2': 'Ste 13',
  'address3': '',
  'city': 'Hanover',
  'zip_code': '03755',
  'country': 'US',
  'state': 'NH',
  'display_address': ['3 Lebanon St', 'Ste 13', 'Hanover, NH 03755']},
 'phone': '+16036432007',
 'display_phone': '(603) 643-2007',
 'distance': 196.1397581876442}

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,XVGEEIH5rVB2QzW-qywcJw,base-camp-cafe-hanover,Base Camp Cafe,https://s3-media1.fl.yelpcdn.com/bphoto/p8_YiE...,False,https://www.yelp.com/biz/base-camp-cafe-hanove...,238,"[{'alias': 'himalayan', 'title': 'Himalayan/Ne...",4.5,"{'latitude': 43.700626, 'longitude': -72.2887803}",[delivery],$$,"{'address1': '3 Lebanon St', 'address2': 'Ste ...",+16036432007,(603) 643-2007,196.139758
1,8ybF6YyRldtZmU9jil4xlg,mollys-restaurant-and-bar-hanover,Molly's Restaurant & Bar,https://s3-media4.fl.yelpcdn.com/bphoto/TJLrrA...,False,https://www.yelp.com/biz/mollys-restaurant-and...,500,"[{'alias': 'tradamerican', 'title': 'American ...",4.0,"{'latitude': 43.701144, 'longitude': -72.2894249}",[delivery],$$,"{'address1': '43 South Main St', 'address2': '...",+16036432570,(603) 643-2570,250.830160
2,5WW4g_LRwau29KyjZGLyAA,sawtooth-kitchen-hanover,Sawtooth Kitchen,https://s3-media3.fl.yelpcdn.com/bphoto/61MNG4...,False,https://www.yelp.com/biz/sawtooth-kitchen-hano...,19,"[{'alias': 'chickenshop', 'title': 'Chicken Sh...",4.0,"{'latitude': 43.70158, 'longitude': -72.289641}",[],NaN,"{'address1': '33 S Main St', 'address2': '', '...",+16036435134,(603) 643-5134,242.607552
3,neBEWvgHNhsXIBImCYx_6A,murphy-s-on-the-green-hanover,Murphy’s on the Green,https://s3-media2.fl.yelpcdn.com/bphoto/76DCQr...,False,https://www.yelp.com/biz/murphy-s-on-the-green...,173,"[{'alias': 'newamerican', 'title': 'American (...",4.0,"{'latitude': 43.702, 'longitude': -72.2894949}",[delivery],$$,"{'address1': '11 S Main St', 'address2': '', '...",+16036434075,(603) 643-4075,295.207523
4,KA8yhrd-ClVYMyOefXdVYg,lous-restaurant-and-bakery-hanover,Lou's Restaurant & Bakery,https://s3-media3.fl.yelpcdn.com/bphoto/VAx8H9...,False,https://www.yelp.com/biz/lous-restaurant-and-b...,374,"[{'alias': 'tradamerican', 'title': 'American ...",4.0,"{'latitude': 43.70143, 'longitude': -72.289001}",[delivery],$$,"{'address1': '30 S Main St', 'address2': '', '...",+16036433321,(603) 643-3321,244.006059

In [25]:
## more data-specific way of summarizing
## we're doing a simple approach and just retaining
## cols that have a simple str structure
## if doing for real, would want to extract things
def clean_yelp_json(one_biz):

    ## restrict to str cols
    d_str = {key:value for key, value in one_biz.items()
             if type(value) == str}
    
    df_str = pd.DataFrame(d_str, index = [d_str['id']])
    return(df_str)

yelp_stronly = [clean_yelp_json(one_b) for one_b in yelp_genjson['businesses']]
yelp_stronly_df = pd.concat(yelp_stronly)

yelp_stronly_df.head(7)

,id,alias,name,image_url,url,price,phone,display_phone
XVGEEIH5rVB2QzW-qywcJw,XVGEEIH5rVB2QzW-qywcJw,base-camp-cafe-hanover,Base Camp Cafe,https://s3-media1.fl.yelpcdn.com/bphoto/p8_YiE...,https://www.yelp.com/biz/base-camp-cafe-hanove...,$$,+16036432007,(603) 643-2007
8ybF6YyRldtZmU9jil4xlg,8ybF6YyRldtZmU9jil4xlg,mollys-restaurant-and-bar-hanover,Molly's Restaurant & Bar,https://s3-media4.fl.yelpcdn.com/bphoto/TJLrrA...,https://www.yelp.com/biz/mollys-restaurant-and...,$$,+16036432570,(603) 643-2570
5WW4g_LRwau29KyjZGLyAA,5WW4g_LRwau29KyjZGLyAA,sawtooth-kitchen-hanover,Sawtooth Kitchen,https://s3-media3.fl.yelpcdn.com/bphoto/61MNG4...,https://www.yelp.com/biz/sawtooth-kitchen-hano...,NaN,+16036435134,(603) 643-5134
neBEWvgHNhsXIBImCYx_6A,neBEWvgHNhsXIBImCYx_6A,murphy-s-on-the-green-hanover,Murphy’s on the Green,https://s3-media2.fl.yelpcdn.com/bphoto/76DCQr...,https://www.yelp.com/biz/murphy-s-on-the-green...,$$,+16036434075,(603) 643-4075
KA8yhrd-ClVYMyOefXdVYg,KA8yhrd-ClVYMyOefXdVYg,lous-restaurant-and-bakery-hanover,Lou's Restaurant & Bakery,https://s3-media3.fl.yelpcdn.com/bphoto/VAx8H9...,https://www.yelp.com/biz/lous-restaurant-and-b...,$$,+16036433321,(603) 643-3321
34j_2nRCVQBTKafJvncZlg,34j_2nRCVQBTKafJvncZlg,pine-restaurant-hanover-2,PINE Restaurant,https://s3-media2.fl.yelpcdn.com/bphoto/rD7w_r...,https://www.yelp.com/biz/pine-restaurant-hanov...,$$$,+16036468000,(603) 646-8000
vMyN7JL5cJExJORgIobbQg,vMyN7JL5cJExJORgIobbQg,tuk-tuk-thai-cuisine-hanover,Tuk Tuk Thai Cuisine,https://s3-media4.fl.yelpcdn.com/bphoto/--bUG3...,https://www.yelp.com/biz/tuk-tuk-thai-cuisine-...,$$,+16032779192,(603) 277-9192

# Activity 2: pull restaurants in a different location

- Try running a business search query for your hometown or another place by constructing a query similar to `yelp_genquery` but changing the location parameter
- Other endpoints require feeding what's called the business' fusion id into the API. Take an id from `yelp_stronly.id` and use the documentation here to pull the reviews for that business: https://docs.developer.yelp.com/reference/v3_business_reviews
- **Challenge**: generalize the previous step by writing a function that (1) takes a list of business ids as an input, (2) calls the reviews API for each id, (3) returns the results, and (4) rowbinds all results, i.e. turns them into a single, usable DataFrame

In [27]:
# your code here
## use documentation to define what to search
## doc: https://www.yelp.com/developers/documentation/v3/business_search
## write the query 
base_url = "https://api.yelp.com/v3/businesses/search?"
my_name = "restaurants"
my_location = "West Chester,PA,19380"
yelp_genquery = ('{base_url}'
                'term={name}'
                '&location={loc}').format(base_url = base_url,
                name = my_name,
                loc = my_location)

## use requests to call the API; here, we're
## passing it our credentials (structure varies
## by API and telling it to only return 10 results
## (max is 50 at once)
header = {'Authorization': f"Bearer {API_KEY}"}
yelp_genresp = requests.get(yelp_genquery, headers = header)
yelp_genresp

## then, look at structure of response
yelp_genjson = yelp_genresp.json()


yelp_gendf = pd.DataFrame(yelp_genjson['businesses'])

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,XXjHQ0CjzIqoZNyEC8lUmw,sedona-taphouse-west-chester,Sedona Taphouse,https://s3-media3.fl.yelpcdn.com/bphoto/gOqBQW...,False,https://www.yelp.com/biz/sedona-taphouse-west-...,152,"[{'alias': 'beerbar', 'title': 'Beer Bar'}, {'...",4.5,"{'latitude': 39.960013, 'longitude': -75.605905}",[delivery],$$,"{'address1': '44 W Gay St', 'address2': 'Ste 1...",+16107385104,(610) 738-5104,1472.090519
1,Z0VmjWiD6t-n1_YBsYVFCQ,stove-and-tap-west-chester,Stove and Tap,https://s3-media2.fl.yelpcdn.com/bphoto/uzuC7w...,False,https://www.yelp.com/biz/stove-and-tap-west-ch...,74,"[{'alias': 'tradamerican', 'title': 'American ...",4.0,"{'latitude': 39.959278, 'longitude': -75.6074224}","[pickup, delivery]",$$,"{'address1': '158 West Gay St', 'address2': No...",+14849990922,(484) 999-0922,1597.121108
2,-uRlaL3jN1PUUbsREstz7w,manje-caribbean-cuisine-west-chester,Manje Caribbean Cuisine,https://s3-media4.fl.yelpcdn.com/bphoto/OagE9x...,False,https://www.yelp.com/biz/manje-caribbean-cuisi...,36,"[{'alias': 'caribbean', 'title': 'Caribbean'},...",5.0,"{'latitude': 39.96241, 'longitude': -75.60172}","[restaurant_reservation, pickup, delivery]",NaN,"{'address1': '237 E Gay St', 'address2': None,...",+16102411852,(610) 241-1852,1163.621886
3,0-pY7oEuTT6j9fa1k-YBnw,roots-cafe-west-chester-2,Roots Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/7lb4Gh...,False,https://www.yelp.com/biz/roots-cafe-west-chest...,360,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.5,"{'latitude': 39.96178, 'longitude': -75.60308}","[pickup, delivery]",$$,"{'address1': '133 E Gay St', 'address2': None,...",+16104550100,(610) 455-0100,1255.823958
4,LnI2XHbeEiF4a0yTkJf-Yg,the-social-west-chester,The Social,https://s3-media2.fl.yelpcdn.com/bphoto/JhQND6...,False,https://www.yelp.com/biz/the-social-west-chest...,239,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 39.96155, 'longitude': -75.6036}",[delivery],$$,"{'address1': '117 E Gay St', 'address2': '', '...",+16107383948,(610) 738-3948,1296.802812
5,A1s5mvkEbGL0lprKAWPtlQ,restaurant-andiario-west-chester-2,Restaurant Andiario,https://s3-media3.fl.yelpcdn.com/bphoto/aTGoQ-...,False,https://www.yelp.com/biz/restaurant-andiario-w...,122,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 39.95967, 'longitude': -75.60654}",[delivery],NaN,"{'address1': '106 W Gay St', 'address2': '', '...",+14848870919,(484) 887-0919,1525.430444
6,rZw9O5lJ36m_mXeRKE4G9A,la-sponda-downingtown,La Sponda,https://s3-media2.fl.yelpcdn.com/bphoto/kJeF6W...,False,https://www.yelp.com/biz/la-sponda-downingtown...,155,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",4.5,"{'latitude': 40.006207510396, 'longitude': -75...","[restaurant_reservation, delivery]",$$,"{'address1': '20 E Lancaster Ave', 'address2':...",+14845934488,(484) 593-4488,11163.856179
7,ctC-HU2Jbv04I42ykXFjLA,opa-taverna-west-chester,Opa Taverna,https://s3-media3.fl.yelpcdn.com/bphoto/YqAlUD...,False,https://www.yelp.com/biz/opa-taverna-west-ches...,299,"[{'alias': 'greek', 'title': 'Greek'}]",4.5,"{'latitude': 39.960896, 'longitude': -75.60397...","[pickup, delivery]",$,"{'address1': '40 E Gay St', 'address2': '', 'a...",+16106964100,(610) 696-4100,1317.186406
8,WEFSkRZK7cy1D8w_0n68kg,ground-provisions-west-chester,Ground Provisions,https://s3-media2.fl.yelpcdn.com/bphoto/aNZ6vT...,False,https://www.yelp.com/biz/ground-provisions-wes...,8,"[{'alias': 'healthmarkets', 'title': 'Health M...",5.0,"{'latitude': 39.899829113680525, 'longitude': ...",[],$$$$,"{'address1': '1388 Old Wilmington Pike', 'addr...",+12462666391,(246) 266-6391,6841.099448
9,fGYnHzFr1z2kv7bPRW6VMA,limoncello-ristorante-and-caterers-west-chester-4,Limoncello Ristorante & Caterers,https://s3-media2.fl.yelpcdn.com/bphoto/4cVpb5...,False,https://www.yelp.com/biz/limoncello-ristorante...,557,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",4.0,"{'latitude': 39.96064, 'longitude': -75.60326}","[pickup, delivery]",$$,"{'address1': '9 N Walnut St', 'address2': '', ...",+16104366230,(610) 436-6230,1249.483921
10,2pDXWt8KnncH7FEHL25NvA,il-granaio-glen-mills,IL Granaio,https://s3-media4.fl.yelpcdn.com/bphoto/eC_Fvo...,False,https://www.yelp.com/biz/il-granaio-glen-mills...,576,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",4.5,"{'latitude': 39.8818, 'longitude': -75.51302}","[restaurant_reservation, delivery]",$$$,"{'address1': '711 Concord Rd', 'address2': '',...",+16104598469,(610) 459-8469,10799.326941
11,nb4q4rKYdtgH6I8Mbm93VA,rai-rai-ramen-and-hawaiian-bbq-west-chester-3,Rai Rai Ramen & Hawaiian BBQ,https://s3-media2.fl.yelpcdn.com/bphoto/Z4A00h...,False,https://www.yelp.com/biz/rai-rai-ramen-and-haw...,337,"[{'alias': 'bbq', 'title': 'Barbeque'}, {'alia...",4.5,"{'latitude': 39.9607050472652, 'longitude': -7...","[pickup, delivery]",$$,"{'address1': '124 E Market St', 'address2': ''...",+16107388808,(610) 738-8808,1156.818956
12,6YpNFW5lwEkNtAICp0fwZA,taco-mar-west-chester,Taco Mar,https://s3-media4.fl.yelpcdn.com/bphoto/TB7EnG...,False,https://www.yelp.com/biz/taco-mar-west-chester...,240,"[{'alias': 'tacos', 'title': 'Tacos'}]",4.5,"{'latitude': 39.96124779271341, 'longitude': -...","[pickup, delivery]",$$,"{'address1': '122 E Gay St', 'address2': None,...",+16104551400,(610) 455-1400,1263.659524
13,mfRWNYc5wGLet9L0GGs1ig,suburban-restaurant-and-beer-garden-exton-2,Suburban Restaurant and Beer Garden,https://s3-media2.fl.yelpcdn.com/bphoto/za-ViR...,False,https://www.yelp.com/biz/suburban-restaurant-a...,181,"[{'alias': 'beergardens', 'title': 'Beer Garde...",4.0,"{'latitude': 40.061676519232, 'longitude': -75...","[pickup, delivery]",$$,"{'address1': '570 Wellington Sq', 'address2': ...",+16104582337,(610) 458-2337,14003.332441
14,FlzVZIVGyfVaqRRR03bhTw,ji-in-korean-eatery-kennett-square,Ji-In Korean Eatery,https://s3-media1.fl.yelpcdn.com/bphoto/4hAg8W...,False,https://www.yelp.com/biz/ji-in-korean-eatery-k...,4,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.5,"{'latitude': 39.8461, 'longitude': -75.71335}",[],NaN,"{'address1': '148 W State St', 'address2': '',...",+16106129228,(610) 612-9228,16472.364253
15,O1XwKgUYNI_YBXnOqgaTaw,talulas-table-kennett-square,Talula's Table,https://s3-media3.fl.yelpcdn.com/bphoto/yTMTDW...,False,https://www.yelp.com/biz/talulas-table-kennett...,190,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 39.846602, 'longitude': -75.711786}",[delivery],$$$$,"{'address1': '102 W State St', 'address2': '',...",+16104448255,(610) 444-8255,16339.337112
16,yug67xx7T6yIqzxiAOPMqw,two-birds-cafe-west-chester-2,two birds cafe,https://s3-media2.fl.yelpcdn.com/bphoto/8jcTws...,False,https://www.yelp.com/biz/two-birds-cafe-west-c...,151,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",4.5,"{'latitude': 39.9616535260658, 'longitude': -7...",[delivery],$$,"{'address1': '653 Downingtown Pike', 'address2...",+16102226200,(610) 222-6200,2777.257163
17,DBaNMnT-ful2ormPOjdIwg,market-street-grill-west-chester,Market Street Grill,https://s3-media2.fl.yelpcdn.com/bphoto/watLPN...,False,https://www.yelp.com/biz/market-street-grill-w...,277,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.5,"{'latitude': 39.959419, 'longitude': -75.604553}","[pickup, delivery]",$$,"{'address1': '6 W Market St', 'address2': '', ...",+16104295328,(610) 429-5328,1399.553529
18,1OIFLoqN5keAXfIAZHE_YA,maes-west-chester-west-chester,Mae's West Chester,https://s3-media2.fl.yelpcdn.com/bphoto/oweBsd...,False,https://www.yelp.com/biz/maes-west-chester-wes...,51,"[{'alias': 'bbq', 'title': 'Barbeque'}, {'alia...",4.5,"{'latitude': 39.9601642673808, 'longitude': -7...",[delivery],$$,"{'address1': '39 W Gay St', 'address2': '', 'a...",+14848870062,(484) 887-0062,1502.226375
19,qMYCEl7r1K6WYmJglKaryA,antica-italian-restaurant-chadds-ford,Antica Italian Restaurant,https://s3-media1.fl.yelpcdn.com/bphoto/MeSSFe...,False,https://www.yelp.com/biz/antica-italian-restau...,314,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",4.5,"{'latitude': 39.872475, 'longitude': -75.590972}",[restaurant_reservation],$$,"{'address1': '1623 Baltimore Pike', 'address2'...",+14847708631,(484) 770-8631,9650.742997

In [37]:
def gen(id_list):
    results = []
    header = {'Authorization': f"Bearer {API_KEY}"}
    for ID in id_list:
        base_url = "https://api.yelp.com/v3/businesses/" + ID + "/reviews"
        yelp_genquery = (base_url)
        yelp_genresp = requests.get(yelp_genquery, headers = header)
        yelp_genjson = yelp_genresp.json()
        yelp_gendf = pd.DataFrame(yelp_genjson['reviews'])
        results.append(yelp_gendf)
    bind = pd.concat(results)
    return bind
    
gen(["qMYCEl7r1K6WYmJglKaryA", "1OIFLoqN5keAXfIAZHE_YA"])

,id,url,text,rating,time_created,user
0,Oc_q1xRIMa06SPw9yyQJ-A,https://www.yelp.com/biz/antica-italian-restau...,One of the best Italian restaurants I've been ...,5,2023-09-01 18:32:25,"{'id': 'UdW4A_nnoXxBX97thk8Ctw', 'profile_url'..."
1,V87uXUmpviI7Ut88TarJnw,https://www.yelp.com/biz/antica-italian-restau...,My wife and I decided to find a new restaurant...,5,2023-10-01 17:20:21,"{'id': 'PzdgA9XVFjURSyf8FoDEsg', 'profile_url'..."
2,ymhJITTTwZw0nTuQPt8bag,https://www.yelp.com/biz/antica-italian-restau...,First time at Antica after seeing the mess of ...,3,2023-08-13 04:17:55,"{'id': '7CSWvjwdb6wEsbitmPdKBg', 'profile_url'..."
0,30bqhLIt4e4Cnt0o2ywtCw,https://www.yelp.com/biz/maes-west-chester-wes...,Mae's is a great place to stop by for a good b...,5,2023-07-08 11:53:46,"{'id': 'B9iPTih0dmpZn6fRyZnLLg', 'profile_url'..."
1,2DLFt4F28ibjRNKkDXZsNg,https://www.yelp.com/biz/maes-west-chester-wes...,They have great pancakes. The pancakes taste h...,3,2023-08-28 15:37:16,"{'id': 'kc4kn028zSyl7NPvxJ47KA', 'profile_url'..."
2,Vd4aGtQTXmSFZtubXs-pfw,https://www.yelp.com/biz/maes-west-chester-wes...,Ate outside on an early fall day. A long wait ...,4,2023-10-09 13:19:33,"{'id': 'WfywKHUOxQ6AVJa8Q-luvQ', 'profile_url'..."